.env
.venv/
__pycache__/
.vscode/

route/__pycache__/
data/__pycache__/

.DS_STORE
route/.DS_STORE
data/.DS_STORE
static/.DS_STORE
static/css/.DS_STORE
.git/.DS_STORE
.github/.DS_STORE
.github/ISSUE_TEMPLATE/.DS_STORE